@charset "ISO-8859-1";

@media screen {
	.header {
		box-shadow: 3px 3px 15px #333;
	}

/*NAVBAR*/
	.dropdown {
		display: grid;
		grid-template-columns: 50% 50%;
		background: black;
		overflow: hidden;
	}
	
	.dropdown .dropbtn {
		font-size: 17px;    
		border: none;
		outline: none;
		color: white;
		padding: 14px 16px;
		background-color: inherit;
		font-family: inherit;
		margin: 0;
	}
	
	.pub-btn:hover, .gen-btn:hover {
		background: grey;
		transition: all 0.5s ease;
	}
	
	.genere-content, .pub-content {
		transition: all 0.5s ease;
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	
	.genere-content a, .pub-content a {
		transition: all 0.5s ease;
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}
	
	.topnav a:hover, .genere-content .dropbtn, .pub-content .dropbtn {
		background-color: #555;
		color: white;
	}
	
	.pub-content a:hover {
		transition: all 0.5s ease;
		background-color: #ddd;
		color: black;
	}
	
	.genere-content a:hover {
		transition: all 0.5s ease;
		background-color: #ddd;
		color: black;
	}
	
	.gen-btn:hover .genere-content {
		display: block;
	}

	.pub-btn:hover .pub-content {
		display: block;
	}
/*FINE NAVBAR*/

/*CATALOGO*/
	.catalogo {
		padding: 1%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	.gioco {
		background: #b3b3b3;
		padding: 1%;
		padding-bottom: 0%;
		flex-basis: 20%;		
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		border: solid 2px;
		margin: 0.5%;
		border-radius: 5%;
		box-shadow: 3px 3px 10px #000;
	}
		
	
	.game-image img {
		width: 220px;
		aspect-ratio: auto 220 / 220;
		height: 220px;
		box-shadow: 2px 2px 5px #000;
	 	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}
	
	.game-image img:hover {
		box-shadow: 4px 4px 13px #000;
	}
	
	.game-name h5 {
		text-align: center;
	}
	
	.game-name a {
		text-decoration: none;
		color: black;
		font-size: x-large;
	}
/*FINE CATALOGO*/

}