@charset "ISO-8859-1";

@media screen {
	
	.header {
		box-shadow: 3px 3px 15px #333;
	}
		
		
	.gameinfo-section {
		display: grid;
		grid-template-columns: 60% 40%;
		margin: 0.5%;
	}
	
	#game-name {
		font-size: 170%;
	}
	
	.game-info {
		display: grid;
		grid-template-columns: 45% 50%;
		grid-column: 1 / 1;
	}
	
	
	.gamesec1 {
		text-align: center;
		padding-right: 10%;
	}
	
	#imgXD {
		box-shadow: 3px 3px 7px #333;
	}
		
	.threads {
		display: flex;
		flex-direction: column;
		grid-column: 2 / 2;
	}	
	
	.ThreadArea {
		box-shadow: 3px 3px 15px #333;
		border: solid black 2px;
		border-radius: 0.6em;
		display: grid;
		grid-template-rows: 80% 20%;
		padding: 2%;
		padding-bottom: 5%;
	}
	
	.discussioni {
		display: flex;
		flex-direction: column;
	}
	
	.discussione {
		border-top: solid 1px grey;
		padding-bottom: 2%;
		padding-top: 2%;
	}
	
	.crea-discussione {
		width: 100%;
		text-align: center;
		align-self: center;
	}
	
	.crea-discussione a, .crea-discussione a:visited {
		text-decoration: none;
		text-shadow: gray;
		color: black;
	}
	
	
	.crea-discussione a{
		background: #e76eff;
		padding: 2%;
		border: solid 1px;
		border-radius: 5px;
	}
	
	.crea-discussione a:hover {
		cursor: pointer;
		background: #ad52bf;
	}
}